<mat-card class="header-panel">
  <mat-card-header>
    <mat-card-title class="header-title-wrapper">
      <span class="header-title">Tradr</span>
      <div class="header-menu">
        <mat-icon>menu</mat-icon>
      </div>
    </mat-card-title>
  </mat-card-header>
</mat-card>

<div class="container">
  <mat-card class="mat-card-full-width">
    <mat-card-header>
      <mat-card-title>Test title</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      hallo 123
    </mat-card-content>
    <mat-card-actions>
      <button class="btn-success" mat-button>LIKE</button>
      <button class="btn-error" mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
