@import '../style/_variables';

.header-panel {
  padding-bottom: 0;

  .header-title-wrapper {
    width: 100%;
  }

  .header-menu {
    position: absolute;
    right: 0.6em;
    top: 0.6em;    

    :hover {
      cursor: pointer;
      color: darken($base, 20%);
    }
  }

  a {
    color: $base;
  }

  a:hover {
    color: darken($base, 20%);
  }
}

.btn-menu {
  position:absolute;
  z-index: 9999;
  right: 5px;
}

.btn-menu-close {
  color: $primary;

  :hover {
    color: lighten($primary, 20%);
  }
}

.container {
  padding: 0 1.5em;
}