<h1>Coinbase</h1>

<div *ngIf="isAuthenticating">
    <mat-spinner></mat-spinner>
</div>

<span>{{coinbaseStatus}}</span>

<!-- <mat-card class="mat-card-full-width" *ngFor="let account of coinbaseInstance.Accounts">
    <mat-card-header>
        <mat-card-title>{{account.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Balance: {{account.balance.currency}} {{account.balance.amount}}
        Native Balance: {{account.nativebalance.currency}} {{account.nativebalance.amount}}
    </mat-card-content>
    <mat-card-actions>
        <button class="btn-success" mat-button>BUY</button>
        <button class="btn-error" mat-button>SELL</button>
    </mat-card-actions>
</mat-card> -->
